<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <main>
      <header><%- include('./partials/header'); %></header>
      <body>
        <table id="table" >  
            <thead>  
                <tr>  
                    <th>Name</th>  
                    <th>Description</th> 
                    <th>Author</th>  
                </tr>  
            </thead>  
             <tbody>  
             <% Books.forEach(function (book) { %>
                <tr>  
                    <td><%= book.name %></td>  
                    <td><%= book.description %></td>
                    <td><%= book.author %></td>
                    <td><button onclick="addParam('<%=book.pdf%>')"> download</button> </td>   
                </tr>
                                                 
             <% }) %>
             </tbody>
        </table>   
    </body>
    
    </html>
    </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
  <script>
    let addParam =async(pdf)=>{
   location.href=`/download_book?path=${pdf}`
       let res=await fetch(window. location. href,{
           method: 'POST',
           headers: { 'Content-Type': 'application/json' }
   
       })
    }
   </script>
</html>
